<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
<nav class="navbar">
    <div class="bar">
        <div class="Skedgelogoindex"><a href="{{ url_for('index') }}">Skedge.</a></div>
        <ul class="log-in-out">
            <form class="centerplease" id="searchFriends">
                <input type="text" id="friendsInput" placeholder="Search for friends.." class="search">
                <input type="submit" style="display:none"/>
            </form>
            <a href="{{ url_for('home') }}" class="notextdec">
                <div class="rounded_border">
                    <li>Home</li>
                </div>
            </a>
            <a href="{{ url_for('logout') }}" class="notextdec">
                <div class="rounded_border">
                    <li>Sign Out</li>
                </div>
            </a>
        </ul>
    </div>
</nav>
<div class="padding">
</div>


<div class="block">
    <div class="container">
        <form class="form-container" method="POST" enctype="multipart/form-data">
            <div class="Skedgelogo">Skedge.</div>

            <div class="form-row" id="noresize">
                <textarea id="newbio" name="bio" rows="6" cols="40"
                          placeholder="Enter your new biography">{{ current_user.bio }}</textarea>
            </div>


            <div class="form-row">
                <button type="submit" class="submit">Save</button>
            </div>
            <div>
                Insert a new csv file
                <input type="file" id="myFile" name="timetable">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <div class="incfriendrequests">
        <div class="pleasegototheright">
            You have {{ friend_requests|length }} incoming friend requests
            {% if friend_requests|length > 0 %}
                <ul>
                    {% for request in friend_requests %}
                        <li>
                            {{ request.get_sender().get_full_name() }} wants to be your friend! <br>
                            <a href="/accept/{{ request.get_sender().username }}" style="text-decoration: none">
                                <button>Accept this request</button>
                            </a>
                            <a href="/reject/{{ request.get_sender().username }}">
                                <button>Decline this request</button>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $("#searchFriends").on("submit", function (event) {
        event.preventDefault();
        let query = $("#friendsInput").val()
        if (query === "")
            return
        window.location.href = "/profile/" + query;
    })
</script>
</body>

</html>
