<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in - Skedge accounts</title>
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
<nav class="navbar">
    <div class="bar">
        <div class="Skedgelogoindex"><a href="{{ url_for('index') }}">Skedge.</a></div>
    </div>
</nav>
<div class="container">
    <form class="form-container" method="POST">
        <div class="Skedgelogo">Skedge.</div>
        <h2>Sign in</h2>
        <p>Use your Skedge Account</p><br>
        {% if error %}
            <div class="error_msg">
                {{ error }}
            </div><br>
        {% endif %}
        <div class="form-row">
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="form-row">
            <input type="password" name="password" placeholder="Password" class="pw1">
        </div>

        <p id="passwordmessage"></p>

        <div class="form-row">
            <button type="submit" class="button" style="border:none;">SIGN IN</button>
        </div>
        <br>
        <p>
            Don't have an account yet? Sign up <a href="{{ url_for('signup') }}">here</a>
        </p>
    </form>
</div>
</body>

</html>